html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

button {
  display: block;
}

header#page_header {
  background-color: #6f5499;
  text-align: center;
  padding: 30px 0;
}

header#page_header a {
  display: block;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

header#page_header a h1 {
  font-weight: 500;
}

header#page_header p {
  font-size: 20px;
  font-weight: 300;
  color: #cdbfe3;
}

main {
  width: 80%;
  margin: auto;
}

.show_contacts_header {
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  margin-bottom: 30px;
}

.show_contacts_header button {
  width: 140px;
  height: 45px;
  border: 1px solid #6f5499;
  color: #6f5499;
  border-radius: 5px;
  font-size: 20px;
  background-color: Transparent;
  padding: 5px;
  cursor: pointer;
}

.show_contacts_header input {
  width: 250px;
  height: 40px;
  padding: 5px;
  color: #cdbfe3;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #cdbfe3;
}

.all_contacts {
  display: flex;
  flex-wrap: wrap;
}

.single_contact {
  flex: 1 0 calc(25% - 10px);
  margin: 5px;
}

.single_contact h3 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}

.single_contact dt {
  font-size: 15px;
  font-weight: bold;
}

.single_contact dd {
  font-size: 15px;
  font-weight: 400;
  padding: 2px 0;
}

.single_contact_tags select {
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 150px;
  margin-top: 5px;
  border: 1px solid #777777;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  padding: 5px 5px;
  background-color: #ffffff;
}

.single_contact_tags select:focus {
  outline: none;
}

.single_contact_buttons {
  margin-top: 15px;
}

.single_contact_buttons > button {
  display: inline-block;
  height: 30px;
  border: 1px solid #6f5499;
  color: #6f5499;
  border-radius: 5px;
  font-size: 15px;
  background-color: Transparent;
  padding: 5px;
  cursor: pointer;
}

.single_contact_buttons button:first-of-type {
  width: 50px;
  margin-right: 10px;
}

.single_contact_buttons button:nth-of-type(2) {
  width: 60px;
}

.show_form_header, .edit_add_contact_form {
  display: flex;
  justify-content: center;
}

.show_form_header {
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid gainsboro;
}

.show_form_header > h2 {
  font-weight: 400;
}

.form_container {
  padding-top: 15px;
  padding-bottom: 40px;
  border-bottom: 1px solid gainsboro;
}

#edit_add_contact_form {
  width: 100%;
}

.contact_form_generic_field {
  margin-bottom: 20px;
  margin-right: 20%;
}

.contact_form_generic_field label {
  display: inline-block;
  float: left;
  padding-top: 5px;
  text-align: right;
  width: 40%;
  font-size: 15px;
  font-weight: 500;
  margin-right: 30px;
  line-height: 2.25;
}

.contact_form_generic_field input, .contact_form_generic_field select {
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  height: 35px;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 10px;
}

.contact_form_generic_field input:focus, .contact_form_generic_field select:focus {
  border-color: rgba(137, 196, 244, 0.8);
  box-shadow: 0 1px 1px rgba(137, 196, 244, 0.075) inset, 0 0 8px rgba(137, 196, 244, 0.6);
  outline: 0 none;
}

.hidden {
  display: none;
}

.error_text {
  color: red;
  text-align: right;
  width: 93%;
}

.error_field {
  border-color: rgba(240, 52, 52, 0.8);
  box-shadow: 0 1px 1px rgba(240, 52, 52, 0.075) inset, 0 0 8px rgba(240, 52, 52, 0.6);
  outline: 0 none;
}

.contact_form_generic_field select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

.contact_form_generic_field_button {
  clear: both;
  width: 74.5%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.contact_form_generic_field_button button {
  display: inline-block;
  width: 60px;
  height: 45px;
  border: 1px solid #6f5499;
  color: #6f5499;
  border-radius: 5px;
  font-size: 20px;
  background-color: Transparent;
  padding: 5px;
  cursor: pointer;
}

.contact_form_submit_cancel_field {
  clear: both;
  margin-top: 30px;
  width: 70%;
  display: flex;
  justify-content: flex-end;
  margin-left: 3.8%;
}

.contact_form_submit_cancel_field button {
  display: inline-block;
  width: 25%;
  height: 45px;
  border: 1px solid #6f5499;
  color: #6f5499;
  border-radius: 5px;
  font-size: 20px;
  background-color: Transparent;
  padding: 5px;
  cursor: pointer;
}

.contact_form_submit_cancel_field button:nth-of-type(2) {
  margin-left: 5%;
}
