html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
  font-size: 36px;
}

button {
  display: block;
}

header#page_header {
  background-color: #6f5499;
  text-align: center;
  padding: 30px 0;
}

header#page_header a {
  display: block;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

header#page_header a h1 {
  font-weight: 500;
}

header#page_header p {
  font-size: 20px;
  font-weight: 300;
  color: #cdbfe3;
}

main > header#content_heading, main > section#content {
  width: 80%;
  margin: auto;
}

.show_contacts_header {
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  margin-bottom: 30px;
}

.show_contacts_header button {
  width: 140px;
  height: 45px;
  border: 1px solid #6f5499;
  color: #6f5499;
  border-radius: 5px;
  font-size: 20px;
  background-color: Transparent;
  padding: 5px;
  cursor: pointer;
}

.show_contacts_header input {
  width: 250px;
  height: 40px;
  padding: 5px;
  color: #cdbfe3;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #cdbfe3;
}

.all_contacts {
  display: flex;
  flex-wrap: wrap;
}

.single_contact {
  flex: 1 0 calc(25% - 10px);
  margin: 5px;
}

.single_contact h3 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}

.single_contact dt {
  font-size: 15px;
  font-weight: bold;
}

.single_contact dd {
  font-size: 15px;
  font-weight: 400;
  padding: 2px 0;
}

.single_contact_tags select {
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 150px;
  margin-top: 5px;
  border: 1px solid #777777;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  padding: 5px 5px;
  background-color: #ffffff;
}

.single_contact_tags select:focus {
  outline: none;
}

.single_contact_buttons {
  margin-top: 15px;
}

.single_contact_buttons > button {
  display: inline-block;
  width: 50px;
  height: 30px;
  border: 1px solid #6f5499;
  color: #6f5499;
  border-radius: 5px;
  font-size: 12px;
  background-color: Transparent;
  padding: 5px;
  cursor: pointer;
}

.single_contact_buttons button:first-of-type {
  margin-right: 10px;
}