html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
  font-size: 36px;
}

button {
  display: block;
}

header {
  background-color: #6f5499;
  text-align: center;
  padding: 30px 0;
}

header a {
  display: block;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

header a h1 {
  font-weight: 500;
}

header p {
  font-size: 20px;
  font-weight: 300;
  color: #cdbfe3;
}

#contacts_or_forms {
  width: 50%;
  margin: auto;
}

.all_contacts_header {
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

.all_contacts_header button {
  width: 140px;
  height: 45px;
  border: 1px solid #6f5499;
  color: #6f5499;
  border-radius: 5px;
  font-size: 20px;
  background-color: Transparent;
  padding: 5px;
}

.all_contacts_header input {
  width: 200px;
  height: 40px;
  padding: 5px;
  color: #cdbfe3;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #cdbfe3;
}
